html,
body {
  overflow-x: hidden;
}

#header::after {
  height: 9rem !important;
  opacity: 0;
}
#header.sub-active::after {
  height: 34rem !important;
  opacity: 1;
}

.inner {
  width: 152rem;
  width: 79.1667%;
  margin: 0 auto;
  /* background: rgba(255, 255, 0, 0.2); */
}

/* Section 001 : Sub-visual */
.sub-visual {
  padding-top: 9rem;
  height: 40rem;
  display: flex;
  align-items: center;
  color: var(--white);
  position: relative;
}
.sub-visual.friends {
  background: rgb(41, 51, 147) no-repeat 50% / cover;
  background: url(../img/sub-visual003.jpg) no-repeat 0 55% / cover;
}
.sub-visual.friends .title-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  /* background: rgba(0, 0, 0, 0.5); */
  z-index: 1;
}
.sub-visual.friends::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.sub-visual > .inner {
  width: 126.4rem;
  width: 65.8333%;
  position: relative;
}
.sub-visual .title h2 {
  font-size: 4rem;
  font-weight: 700;
}
.sub-visual .breadcrumb {
  margin-top: 1.2rem;
}
.sub-visual .breadcrumb ul {
  display: flex;
  font-size: 1.4rem;
  gap: 0.8rem;
}
.sub-visual .breadcrumb ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.sub-visual .breadcrumb ul li:first-child a {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/ico-home.svg) no-repeat 50%;
}
.sub-visual .breadcrumb ul li::after {
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/ico-breadcrumb-arr.svg) no-repeat 50% / contain;
}
.sub-visual .breadcrumb ul li:last-child::after {
  display: none;
}

/* Section 002 : Main-contents */
.friend-intro .section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 10rem 0;
}

.friend-intro .section-title h3 {
  font-size: 4rem;
  font-weight: 700;
}
.friend-intro .section-title p {
  font-size: 1.8rem;
}
.friend-con-wrap {
  padding-bottom: 10rem;
}
.friend-con-wrap ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
  /* gap: 2rem;
  flex-wrap: wrap; */
}
.friend-con-wrap ul li {
  flex: 1 1 30%;
  height: 52rem;
  border: 1px solid var(--line);
  border-radius: 1rem;
  overflow: hidden;
}

/* hover 효과 */
.friend-con-wrap ul li:hover a .friend-img figure img {
  transform: scale(1.1);
}

.friend-con-wrap ul li a {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.friend-con-wrap ul li a .friend-img {
  width: 100%;
  height: 35rem;
  overflow: hidden;
}
.friend-con-wrap ul li a .friend-img figure {
  width: 100%;
  height: 100%;
}
.friend-con-wrap ul li a .friend-img figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.friend-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 17rem;
  background: var(--white);
  padding: 2.8rem 3rem;
}
.friend-info .friend-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background: rgba(255, 255, 0, 0.2); */
}
.friend-info .friend-text-wrap .friend-text strong {
  font-size: 2.8rem;
  font-weight: 700;
}
.friend-info .friend-text-wrap .friend-text p {
  margin-top: -0.2rem;
}
.friend-info .friend-text-wrap > p {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.friend-info .friend-text-wrap > p::before {
  content: '';
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/ico-location-sm-black.svg) no-repeat 50%;
}
.friend-info .arr-area {
  width: 5.2rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.friend-info .arr-area::after {
  content: '';
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  /* border: 1px solid #000; */
  background: url(../img/ico-arr-more-program-black.svg) no-repeat 50% / contain;
}

/* Friend-Sub */

.sub-friend-title {
  padding: 8rem 0;
}
.sub-friend-title .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sub-friend-title .title-wrap .btn-back {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/ico-more-arr-big.svg) no-repeat 50% / 16% auto;
  transform: rotate(-180deg);
}
.sub-friend-title .title-wrap .btn-share {
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/ico-share.svg) no-repeat 50% / 24% auto;
}
.sub-friend-title .sub-friend-info-wrap {
  text-align: center;
}
.sub-friend-title .sub-friend-info-wrap .sub-friend-name strong {
  font-size: 3.6rem;
  font-weight: 700;
}
.sub-friend-title .sub-friend-info-wrap .sub-friend-name p {
  margin-top: -0.4rem;
}

.sub-friend-title .sub-friend-info-wrap > p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 5.2rem;
}
.sub-friend-title .sub-friend-info-wrap > p::before {
  content: '';
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  background: url(../img/ico-location-sm-black.svg) no-repeat 50%;
}

/* Section 002 : Friend-info-detail */
.sub-friend-profile .inner {
  width: 126.4rem;
  width: 65.8333%;
  /* background: rgba(255, 255, 0, 0.2); */
}
.sub-friend-profile .sub-friend-img {
  border-radius: 1rem;
  height: 40rem;
  overflow: hidden;
}
.sub-friend-profile .sub-friend-img figure {
  width: 100%;
  height: 100%;
}
.sub-friend-profile .sub-friend-img figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.friend-shortdetail-wrap {
  margin: 0 auto;
  margin-top: 4.8rem;
  padding-bottom: 8rem;
}
.friend-shortdetail-wrap ul {
  display: flex;
  gap: 2rem;
  /* border: 1px solid #000; */
  padding: 0 4.4rem;
}
.friend-shortdetail-wrap ul li {
  flex: 1 1 20%;
  padding: 2rem;
  text-align: center;
}
.friend-shortdetail-wrap ul li .detail-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.friend-shortdetail-wrap ul li .detail-badge {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: var(--main-color) no-repeat 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.friend-shortdetail-wrap ul li .detail-badge.habitat {
  background: var(--main-color) no-repeat 50% / 50% auto;
  background-image: url(../img/ico-profile-habitat.svg);
}
.friend-shortdetail-wrap ul li .detail-badge.size {
  background: var(--main-color) no-repeat 50% / 22% auto;
  background-image: url(../img/ico-profile-size.svg);
}
.friend-shortdetail-wrap ul li .detail-badge.feeding {
  background: var(--main-color) no-repeat 50% / 36% auto;
  background-image: url(../img/ico-profile-feeding.svg);
}
.friend-shortdetail-wrap ul li .detail-badge.location {
  background: var(--main-color) no-repeat 50% / 42% auto;
  background-image: url(../img/ico-profile-location.svg);
}

.friend-shortdetail-wrap ul li strong {
  font-size: 1.8rem;
  font-weight: 600;
}

.friend-shortdetail-wrap ul li p {
  margin-top: 1rem;
}

/* Section 003 : Friend-info */
.sub-friend-info {
  padding: 5rem 0;
}
.sub-friend-info h3 {
  font-size: 3.6rem;
  font-weight: 700;
}
.sub-friend-info p {
  margin-top: 1rem;
}

.friend-info-slide-wrap {
  margin-top: 4.8rem;
  margin-left: 10.416666666666667%;
  overflow: hidden;
}
.shark-scrollbar {
  width: 100%;
  height: 0.4rem;
  background: rgba(0, 0, 0, 0.05);

  margin-left: 0;
  border-radius: 1rem;
}
.swiper-scrollbar-drag {
  background: #000;
}
.scroll-inner {
  padding: 8rem 0;
  /* border: 1px solid #000; */
}

.friend-info-slide .swiper-slide {
  padding: 4rem;
  border-radius: 1rem;
  border: 1px solid var(--line);
  transition: 0.4s;
}
.friend-info-slide .swiper-slide.swiper-slide-active {
  border: 2px solid var(--main-color);
  background: rgb(251, 251, 255);
}
/* .friend-info-slide .swiper-wrapper .swiper-slide:last-child {
  margin-right: 4rem;
  width: 100%;
  border: 1px solid #000;
} */
.numbering {
  font-size: 2.8rem;
  font-weight: 700;
  border-bottom: 3px solid #000;
  padding-bottom: 0.4rem;
}
.friend-info-slide .swiper-slide.swiper-slide-active .numbering {
  color: var(--main-color);
  border-color: var(--main-color);
}
.friend-info-slide .swiper-slide strong {
  font-size: 2.8rem;
  font-weight: 700;
  display: block;
  margin-top: 3.2rem;
}
.friend-info-slide .swiper-slide.swiper-slide-active strong {
  /* color: var(--main-color); */
}
.friend-info-slide .swiper-slide p {
  font-size: 1.8rem;
  color: #666;
  line-height: 1.6;
  margin-top: 1.2rem;
}

/* Section 004 : Friend-program-connection */
.connect-program {
  padding: 10rem 0;
  /* border: 1px solid #000; */
}

.program-wrap {
  display: flex;
  justify-content: space-between;
}
.program-img {
  width: 56.1458%;
  height: 40rem;
  border-radius: 0 1rem 1rem 0;
  overflow: hidden;
}
.program-img figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.program-img figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.program-info {
  padding-right: 10.416666666666667%;
  padding: 1.2rem 10.416666666666667% 1.2rem 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.program-info .info1 {
}
.program-info .info1 h3 {
  font-size: 4.8rem;
  font-weight: 700;
}
.program-info .info1 p {
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 400;
}
.program-info .info2 p:first-of-type {
  font-weight: 700;
}
.program-info .info2 p + p {
  margin-top: 0.4rem;
}

.btn-detail {
  display: inline-flex;
  width: 29.2rem;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 4rem;
  border: 1.5px solid #000;
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 4rem;
  transition: 0.4s;
}

.btn-detail:hover {
  background: var(--black);
  color: var(--white);
}
